/* Index */
/* header */
img.last{
    height: 10%;
    width: 10%;
    float: right;
}
img.first{
    height: 10%;
    width: 10%;
}
h1.haut{
    padding-left: 31%;
    margin-top: -8%;
    margin-bottom: 9%;
    margin-left: 1.5%;
    font-size: 5vw;
    color: #ff0000
}
p.subtitle{
    padding-left: 31%;
    margin-top: -9%;
    margin-bottom: 2%;
    margin-left: 7.6%;
    font-size: 3vw;
    color: #FF6464
}

/* menu de navigation */
nav.menu-nav{
    background-color: #ff1616;
    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
}
nav.menu-nav ul li.btn{
    padding: 5vw;
    display: inline;
}
nav.menu-nav ul li.btn a{
    font-size: 2vw;
    font-weight: 300;
    color: black;
    text-decoration: none;
    margin-left: -4%;
    padding-inline-end: 0.6%;
    padding-inline-start: 0.6%;
    border-radius: 5px;
    transition: 0.3s;
    z-index: 1;
}
nav.menu-nav ul li.btn:hover a{
    padding: 0.6%;
    color: white;
    background-color: rgb(164, 0, 0);
    font-weight: 700;
    transition: 0.3s;
    z-index: 1;
}

/* Grosse boite */
div.bigbox{
    margin-top: 1em;
    display: inline-flex;
    flex-direction: row;
}

/* left box présentation */
div.leftbox{
    margin-right: 1.4vw;
    border: 1vw ridge red;
    width: 46%;
}
a.box{
    font-size: 2.2vw;
    color: black;
    text-decoration: none;
    margin-left: 0.4vw;
}
a.box:hover{
    color: white;
    background-color: red;
    transition: 0.6s;
}
p.box{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    color: black;
    margin-left: 0.5vw;
} 
img.collage{
    height: 82%;
    width: 100%;
}

/* Actualité */
div.actu{
    width: 48%;
    border: 1vw ridge red;
    background-color: #fff;
    margin-left: 1vw;
}
a.actu{
    font-size: 2.2vw;
    color: black;
    text-decoration: none;
    margin-left: 0.4vw;
}
a.actu:hover{
    color: white;
    background-color: red;
    transition: 0.6s;
}
p.actu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    color: black;
    margin-left: 0.5vw;
}
iframe{
    height: 88%;
    width: 100%;
}

/* footer */
footer{
    background-color: #ff0000;
}


/* Historique */

h1.historique{
    font-weight: 100;
    font-size: 3vw;
    color: black;
    background-color: #ff3838;
    display: inline-block;
    margin-left: 33%;
}
h2.historique{
    font-size: 2vw;
    color: black;
    background-color: #fc5c5c;
    font-weight: 100;
}
h3.historique{
    font-size: 1.3vw;
    background-color: #f8b5b5;
    font-weight: 100;
    display: inline;

}
p.hi{
    font-size: 1vw;
}
img.légende{
    margin-left: 35%;
}

